@using Rembox.WebKit.Blazor.Core
 @* ReSharper disable once CheckNamespace *@
 @namespace Rembox.WebKit.Blazor.Components

 <div class="@CssBuilder.CssClasses(
                 "rb-wrapper",
                 Trigger == RbPopoverTrigger.Hover ? "hoverable" : ""
                 )"> 
     <span class="rb-target" onclick="@OnTargetClicked">@Target</span>
     <div class="@CssBuilder.CssClasses("rb-container", 
                     isContentVisible ? "visible" : "", 
                     Position.ToString().ToLower(), 
                     AsTooltip ? "tooltip": "",
                     ShowArrow ? $"arrow arrow-{Position.ToString().ToLower()}" : "")"
          style="@CssBuilder.Styles(
                      !string.IsNullOrEmpty(MinWidth) ? $"min-width:{MinWidth}" : ""
                      )"
          >
         @if (!string.IsNullOrEmpty(@Header))
         {
             <div class="header">
                 @Header
             </div>
         }
         <div class="content">
             @Content
         </div>
     </div>
 </div>
 