@using Rembox.WebKit.Blazor.Core
@* ReSharper disable once CheckNamespace *@
@namespace Rembox.WebKit.Blazor.Components

<div class="parent-container" onclick="@OnItemClicked">
    <div class="@CssBuilder.CssClasses("item", Context.IsExpanded ? "expanded" : "")">
        <RbIcon Name="@Icon"/>
        <div class="title">@Title</div>
    </div>
    <div class="@CssBuilder.CssClasses(
                    "sub-items-list",
                    IsExpanded && Context.IsExpanded ? "expanded" : ""
                    )">
        @ChildContent
    </div>
</div>
       